<div class="centro jumbotron">
<h1>Fundación CCB</h1>
<%= link_to 'Acerca de', about_path %><br>
<%= link_to 'Proyectos', controller: 'projects' %><br>
<%= link_to 'Nuevo Proyecto', new_project_path %>

</div>