



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geriatría</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <div id="wrapper">

        <!-- Sidebar -->
       
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                       
                        
                        <h3 class="text-muted">CuestionarioF</h3>
                        <hr>

                        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
                            <fieldset>
                                
                                <!-- Text input-->
                                <div class="form-value-one">
                                    <p class="label-form">Medicamentos que se le administran al paciente</p>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button onClick="agregarMedicamento()" class="btn btn-info" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                        <input type="text" id="nombre_medicamento" class="form-control input-short-form" placeholder="Medicamento" onkeypress="handleMedicamento(event)">
                                        
                                    </div>
                                </div>
                                
                                <!-- Checkbox Medicamentos -->
                                
                                <div id="medicamentos_agregados">
                                    
                                </div>
                                
                                
                                
                                
                                <!-- Checkbox -->
                                <div class="form-value-one">
                                    <p class="label-form">¿Existe o ha existido una problemática que ha interferido en el desarrollo del proyecto?</p>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="administradores" value="paciente" autocomplete="off">Falta de personal
                                        </label>

                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="administradores" value="cónyuge" autocomplete="off">Falta de recursos
                                        </label>

                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="administradores" value="hijo" autocomplete="off">Falta de espacios comunitarios
                                        </label>

                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="administradores" value="nieto" autocomplete="off">Falta de organización
                                        </label>

                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="administradores" value="hermano" autocomplete="off">Falta de alianzas
                                        </label>

                                      


                                    </div>
                                </div>
                                
                                <!-- Text input-->
                                <div id="div_administradores" class="form-value-one hide">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button onClick="agregarAdministrador()" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                        <input type="text" id="administrador" class="form-control input-short-form" placeholder="Amigo, Tío, Primo etc." onkeypress="handleAdministrador(event)">
                                        
                                    </div>
                                </div>
                                
                                <!-- Checkbox Administradores -->
                                
                                <div id="administradores_agregados">
                                    
                                </div>
                                
                               
                                
                                <!-- Text input-->
                                <div id="div_compradores" class="form-value-one hide">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button onClick="agregarComprador()" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                        <input type="text" id="comprador" class="form-control input-short-form" placeholder="Amigo, Tío, Primo etc." onkeypress="handleComprador(event)">
                                        
                                    </div>
                                </div>
                                
                                <!-- Checkbox Compradores -->
                                
                                <div id="compradores_agregados">
                                    
                                </div>
                                
                                
                               
                                
                                <!-- Text input-->
                                <div id="div_transportes" class="form-value-one hide">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button onClick="agregarTransporte()" class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                        </span>
                                        <input type="text" id="transporte" class="form-control input-short-form" placeholder="Tren ligero, Metrobus etc." onkeypress="handleTransporte(event)">
                                        
                                    </div>
                                </div>
                                
                                <!-- Checkbox Compradores -->
                                
                                <div id="transportes_agregados">
                                    
                                </div>
				<br> </br>

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
        
    $("#menu-toggle-two").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
        
    </script>
    
    <script>
        function agregarMedicamento(){
            
            var nombre_medicamento = document.getElementById("nombre_medicamento").value;
            if(nombre_medicamento!=""){
                document.getElementById("nombre_medicamento").value = ""; //borra input del contenido
            
                var medicamentos_agregados = document.getElementById("medicamentos_agregados");
                var div = document.createElement("div");
                div.className = "form-value-one";
                var text_div = document.createTextNode(nombre_medicamento);
                var button = document.createElement("button");
                button.id = nombre_medicamento;
                button.className = "btn btn-info btn-sm btn-space";
                button.setAttribute("onClick","eliminarMedicamento(this.id)");
                var span = document.createElement("span");
                span.className = "glyphicon glyphicon-remove";
                var input = document.createElement("input");
                input.className = "checkbox-agregados";
                input.type = "checkbox";
                input.name = "medicina";
                input.value = nombre_medicamento;
                input.checked = true;

                button.appendChild(span);
                div.appendChild(button);
                div.appendChild(input);
                div.appendChild(text_div);
                medicamentos_agregados.appendChild(div);
                
            }
        
        }
        
        function eliminarMedicamento(id){
            
            var medicamentos_agregados = document.getElementById("medicamentos_agregados");
            var btn = document.getElementById(id);
            medicamentos_agregados.removeChild(btn.parentElement);
        
        }
        
        function handleMedicamento(e){
            if(e.keyCode === 13){
                e.preventDefault();
                agregarMedicamento();
            }
        }
        
        
        function agregarAdministrador(){
            
            var administrador = document.getElementById("administrador").value;
            if(administrador!=""){
                document.getElementById("administrador").value = ""; //borra input del contenido
            
                var administradores_agregados = document.getElementById("administradores_agregados");
                var div = document.createElement("div");
                div.className = "form-value-one";
                var text_div = document.createTextNode(administrador);
                var button = document.createElement("button");
                button.id = administrador;
                button.className = "btn btn-primary btn-sm btn-space";
                button.setAttribute("onClick","eliminarAdministrador(this.id)");
                var span = document.createElement("span");
                span.className = "glyphicon glyphicon-remove";
                var input = document.createElement("input");
                input.className = "checkbox-agregados";
                input.type = "checkbox";
                input.name = "administradores";
                input.value = administrador;
                input.checked = true;

                button.appendChild(span);
                div.appendChild(button);
                div.appendChild(input);
                div.appendChild(text_div);
                administradores_agregados.appendChild(div);
                
            }
        
        }
        
        function eliminarAdministrador(id){
            
            var administradores_agregados = document.getElementById("administradores_agregados");
            var btn = document.getElementById(id);
            administradores_agregados.removeChild(btn.parentElement);
        
        }
        
        function handleAdministrador(e){
            if(e.keyCode === 13){
                e.preventDefault();
                agregarAdministrador();
            }
        }
        
        function agregarCampoAdministrador(){
            $("#div_administradores").removeClass("hide");
        }
        
        
        
        function agregarComprador(){
            
            var comprador = document.getElementById("comprador").value;
            if(comprador!=""){
                document.getElementById("comprador").value = ""; //borra input del contenido
            
                var compradores_agregados = document.getElementById("compradores_agregados");
                var div = document.createElement("div");
                div.className = "form-value-one";
                var text_div = document.createTextNode(comprador);
                var button = document.createElement("button");
                button.id = comprador;
                button.className = "btn btn-danger btn-sm btn-space";
                button.setAttribute("onClick","eliminarComprador(this.id)");
                var span = document.createElement("span");
                span.className = "glyphicon glyphicon-remove";
                var input = document.createElement("input");
                input.className = "checkbox-agregados";
                input.type = "checkbox";
                input.name = "compradores";
                input.value = comprador;
                input.checked = true;

                button.appendChild(span);
                div.appendChild(button);
                div.appendChild(input);
                div.appendChild(text_div);
                compradores_agregados.appendChild(div);
                
            }
        
        }
        
        function eliminarComprador(id){
            
            var compradores_agregados = document.getElementById("compradores_agregados");
            var btn = document.getElementById(id);
            compradores_agregados.removeChild(btn.parentElement);
        
        }
        
        function handleComprador(e){
            if(e.keyCode === 13){
                e.preventDefault();
                agregarComprador();
            }
        }
        
        function agregarCampoComprador(){
            $("#div_compradores").removeClass("hide");
        }
        
        
        
        function agregarTransporte(){
            
            var transporte = document.getElementById("transporte").value;
            if(transporte!=""){
                document.getElementById("transporte").value = ""; //borra input del contenido
            
                var transportes_agregados = document.getElementById("transportes_agregados");
                var div = document.createElement("div");
                div.className = "form-value-one";
                var text_div = document.createTextNode(transporte);
                var button = document.createElement("button");
                button.id = transporte;
                button.className = "btn btn-success btn-sm btn-space";
                button.setAttribute("onClick","eliminarTransporte(this.id)");
                var span = document.createElement("span");
                span.className = "glyphicon glyphicon-remove";
                var input = document.createElement("input");
                input.className = "checkbox-agregados";
                input.type = "checkbox";
                input.name = "transporte";
                input.value = transporte;
                input.checked = true;

                button.appendChild(span);
                div.appendChild(button);
                div.appendChild(input);
                div.appendChild(text_div);
                transportes_agregados.appendChild(div);
                
            }
        
        }
        
        function eliminarTransporte(id){
            
            var transportes_agregados = document.getElementById("transportes_agregados");
            var btn = document.getElementById(id);
            transportes_agregados.removeChild(btn.parentElement);
        
        }
        
        function handleTransporte(e){
            if(e.keyCode === 13){
                e.preventDefault();
                agregarTransporte();
            }
        }
        
        function agregarCampoTransporte(){
            $("#div_transportes").removeClass("hide");
        }
    </script>

</body>

</html>
